<%- include("../partials/header") %>

<div class="jumbotron " style="text-align:center">
		<h1><%=currentUser.username%></h1>
	<a href="/admin"><button class="btn btn-secondary">Home</button></a>
	<a href="/admin/students/attendance"><button class="btn btn-secondary">Students Attendance</button></a>
</div>

<div class="container">
	<div class ="row" style="margin:auto;width:60%;">
		<div class="col-lg-12">

		<h1 class="text-center"><%=student.name%> </h1>
		<h3 class="text-center"><%=sub.subject%>-Attendance</h3>
		<hr>

		<table class="table" style="width:50%;margin:auto;text-align:center">
			<thead class="thead-dark">
				<th  scope="col">Date</th>
				<th  scope="col">status</th>
			</thead>
			<tbody>
			<%if(sub.totalClasses == 0){%>
				<tr><td colspan="2">No Class Yet</td></tr>
				<tr><td>% Attendance</td><td>-</td></tr>

			<%}else{%>
				<%sub.attendance.forEach(function(std){%>
					
					<tr>
						<td><%=std.attendDate%></td>
						<%if(std.status == "ABSENT"){%>
							<td class="table-danger"><%=std.status%></td>	
						<%}else{%>
							<td><%=std.status%></td>
						<%}%>
						
					</tr>
				<%})%>
				<tr>
					<td>Total attendance</td>
					<td><%=sub.classAttended%></td>
				</tr>
				<tr>
					<td>Total Classes</td>
					<td><%=sub.totalClasses%></td>
				</tr>
				<tr>
					<td>% Attendance</td>
					<%if(sub.totalClasses == 0){%>
						<td>-</td>
					<%}else{%>
						<%if(((sub.classAttended/sub.totalClasses)*100) < 75){%>
							<td class="table-danger"><%=((sub.classAttended/sub.totalClasses)*100)  %> %</td>
						<%}else{%>
							<td><%=(sub.classAttended/sub.totalClasses)*100%> %</td>
						<%}%>
					<%}%>
				</tr>
			<%}%>
			</tbody>
		</table>
			<hr style="height:2px;border-width:0;color:gray;background-color:gray">

		</div>
	</div>
	
</div>
<%- include("../partials/footer") %>