<%- include("../partials/header") %>

<h1>
	Select Exam
</h1>

<a href="/prof/<%=profId%>/fmarks/fterm">First term</a>
<a href="/prof/<%=profId%>/fmarks/sterm">Second term</a>
<a href="/prof/<%=profId%>/fmarks/sem">Semester</a>
<a href="/prof/<%=profId%>/fmarks/inter">Internal</a>


<%- include("../partials/footer") %>