<%- include("../partials/header") %>

<div class="jumbotron " style="text-align:center">
		<h3><%=currentUser.username%></h3>
	<a href="/std/profile"><button class="btn btn-secondary">Home</button></a>	
	<a href="/std/<%=stdId%>/marks"><button class="btn btn-secondary">Marks</button></a>
</div>

<div class="container">
	
<h1 style="text-align:center;">
	Marks
</h1>
<h2 style="text-align:center;">
	Teacher-<%=prof.name%>
</h2>
<h3 style="text-align:center;">
	Subject-<%=prof.subject%>
</h3>


	<table class="table" style="width:60%;margin:auto;">
	  <thead class="thead-dark">
		<tr>
			<th>Exam</th>
			<th>Marks</th>
		</tr>
	  </thead>
		<tbody>
			<tr>
				<td>First term</td>
				<%if(subject.fterm.feed == 'false'){%>
					 <td>-</td>
				<%}else{%>
					<%if(subject.fterm.marks < 33){%>
						<td class="table-danger"><%=subject.fterm.marks%> %</td>
					<%}else{%>
						<td><%=subject.fterm.marks%></td>
					<%}%>
				<%}%>
			</tr>
			<tr>
				<td>Second term</td>
				<%if(subject.sterm.feed == 'false'){%>
					 <td>-</td>
				<%}else{%>
					<%if(subject.fterm.marks < 33){%>
						<td class="table-danger"><%=subject.sterm.marks%></td>
					<%}else{%>
						<td><%=subject.sterm.marks%></td>
					<%}%>
				<%}%>
			</tr>
			<tr>
				<td>Internal</td>
				<%if(subject.internal.feed == 'false'){%>
					 <td>-</td>
				<%}else{%>
					<%if(subject.fterm.marks < 33){%>
						<td class="table-danger"><%=subject.internal.marks%></td>
					<%}else{%>
						<td><%=subject.internal.marks%></td>
					<%}%>
				<%}%>
			</tr>
			<tr>
				<td>Final term</td>
				<%if(subject.sem.feed == 'false'){%>
					 <td>-</td>
				<%}else{%>
					<%if(subject.fterm.marks < 33){%>
						<td class="table-danger"><%=subject.sem.marks%></td>
					<%}else{%>
						<td><%=subject.sem.marks%></td>
					<%}%>
				<%}%>
			</tr>
			<tr>
				<td>Percentage</td>
				<%if(subject.fterm.feed == 'false' && subject.sterm.feed == 'false' && subject.internal.feed == 'false' && subject.sem.feed == 'false'){%>
					 <td>-</td>
				<%}else{%>
					<%if(subject.fterm.marks < 33){%>
						<td class="table-danger"><%=subject.total.toFixed(2)%> %</td>
					<%}else{%>
						<td><%=subject.total.toFixed(2)%> %</td>
					<%}%>
				<%}%>
			</tr>
			</tbody>
	</table>
</div>

<%- include("../partials/footer") %>